<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="library/semantic-ui/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <title>Live U Test</title>
</head>
<body>

  <div class="formContainer">
    <form class="ui form" method="post">
      <div class="field">
        <label>Primeiro Nome</label>
        <input type="text" name="nome" placeholder="Primeiro Nome">
      </div>
      <div class="field">
        <label>Sobrenome</label>
        <input type="text" name="sobrenome" placeholder="Sobrenome">
      </div>
      <div class="field">
        <label>E-mail</label>
        <input type="text" name="email" placeholder="E-mail">
      </div>
      <button class="ui button" type="submit">Enviar</button>
    </form>
  </div>

</body>
</html>