<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="library/semantic-ui/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <title>Live U Test</title>
</head>
<body>

  <div class="formContainer">

    <h3 class="titleResult">Resultados</h3>

    <div class="resultados">
      <p><span>Animal:</span> <%= animal %></p>
      <p><span>Cor:</span> <%= cor %></p>
      <p><span>País:</span> <%= pais %></p>
    </div>

    <a href="/">Voltar</a>

  </div>

</body>
</html>